@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600;700;800;900&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-nunito: 'Nunito', sans-serif;

  overflow-x: hidden;
}

body {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  margin: 0;
}

/* Global reset (optional but recommended) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Shared page container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}