.course-card {
  width: 100%;
  max-width: 360px;
  border: 4px solid;
  border-radius: 28px;
  background: #fff;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.course-image {
  position: relative;
}

.course-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 2px;
  border-bottom: 4px solid;
}

.course-age {
  position: absolute;
  bottom: 12px;
  right: 12px;

  color: #000;
  background: #f2c94c;
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 0.8rem;
  border: 2px solid #000;
  border-radius: 16px;
  box-shadow: 3px 3px 0 #000;
  margin-bottom: -20px;
}



.course-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.course-content h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.course-content h4 {
  font-size: 1rem;
  font-weight: 700;
}

.course-content p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #444;
}

.course-price {
  margin-top: 1rem;
}

.course-price span {
  display: block;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #999;
}

.course-price strong {
  font-size: 1.5rem;
}

.course-price small {
  font-size: 0.9rem;
}

.course-btn {
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 14px;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  color: white;
}
