.info-tag {
  flex: 1;
  padding: 8px 12px;

  border: 2px solid #000;
  border-radius: 8px;

  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-align: center;

  box-sizing: border-box;
}
