.big-button {
  display: inline-block;

  color: #ffffff;
  padding: 1rem 2rem;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 12px;

  border: 3px solid;
  box-shadow: 0 6px 0;

  cursor: pointer;
  text-decoration: none;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  text-align: center;
}

/* Hover */
.big-button:hover {
  transform: translateY(0);
}

/* Press effect */
.big-button:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0;
}

.big-button:focus {
  outline: none;
}
