.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Top decorative strip */
.footer-bg-top {
  width: 100%;
  height: 100px;
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

/* Main footer background */
.footer-bg-main {
  width: 100%;
  min-height: 30vh;
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer content */
.footer-content {
  padding: 3rem 2rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: black;
  position: relative;
  z-index: 1;
}
