.event-section {
    margin-top: 7%;
    color: #fff;
    font-weight: bold;
}

.event-header {
    margin-bottom: 5%;
}

.event-header h2 {
    font-size: 3rem;
    font-weight: 900;
}

.event-header p {
    text-align: center;
}